<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= title %> | Vehicle Details</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/detail.css" />
</head>
<body>

  <main>
    <h1><%= title %></h1>
    <section>
      <%- detail %>
      <div class="vehicle-actions">
  <a href="/inv/contact/<%= detail.inv_id %>" class="btn btn-primary">Contact Dealer</a>

</div>


    </section>
  </main>
</body>
</html>
