<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inventory Management</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <main>
    <h1 class="formh1">Inventory Management</h1>

    
  
      <%- messages('success') %>
  

    <div class="classification form-card">
        <div class="class1">
      <a href="/inv/add-classification">Add New Classification</a></li>
   </div> <div class="class2"><a href="/inv/add-inventory">Add New Inventory</a></li>
    </div>
    </div>
  </main>
</body>
</html>
