<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title || "Application Error" %></title>
  <link rel="stylesheet" href="/css/error.css">
</head>
<body>
  <div class="error-box">
    <h1>Something went wrong</h1>
    <figure><img src="/images/site/chill.png" alt="chill" height="200"></figure>
    <p><%= message || "We couldn’t process your request. Please try again later." %></p>
    <p>
      <a href="/">Return to Home Page</a>
    </p>
  </div>
</body>
</html>
